In [ ]:
#Tutorial Follows: https://www.datacamp.com/tutorial/python-excel-tutorial
#I'm just adding some comments to make it more readable to an uninitiated one

In [1]:
import openpyxl 

wb = openpyxl.load_workbook('videogamesales.xlsx') #We can just load our workbook like this - like a pd df
wb #Call the workbook to see it exists :)

In [2]:
ws = wb.active
#OR
ws = wb['vgsales']
#To load the worksheet we care about

In [4]:
print('Total number of rows: '+str(ws.max_row)+'. And total number of columns: '+str(ws.max_column))

Total number of rows: 16328. And total number of columns: 10

In [5]:
print('The value in cell A1 is: '+ws['A1'].value)

The value in cell A1 is: Rank

In [6]:
values = [ws.cell(row=1,column=i).value for i in range(1,ws.max_column+1)]
print(values)

['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']

In [7]:
data=[ws.cell(row=i,column=2).value for i in range(2,12)]
print(data)

['Wii Sports', 'Super Mario Bros.', 'Mario Kart Wii', 'Wii Sports Resort', 'Pokemon Red/Pokemon Blue', 'Tetris', 'New Super Mario Bros.', 'Wii Play', 'New Super Mario Bros. Wii', 'Duck Hunt']

In [12]:
# reading data from a range of cells (from column 1 to 6)

my_list = list()

for value in ws.iter_rows(
    min_row=1, max_row=11, min_col=1, max_col=6, 
    values_only=True):
    my_list.append(value)
print(my_list)

for ele1,ele2,ele3,ele4,ele5,ele6 in my_list: #ele as in element i.e. each of those brackets printed :)
    (print ("{:<8}{:<35}{:<10}{:<10}{:<15}{:<15}".format(ele1,ele2,ele3,ele4,ele5,ele6)))

[('Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher'), (1, 'Wii Sports', 'Wii', 2006, 'Sports', 'Nintendo'), (2, 'Super Mario Bros.', 'NES', 1985, 'Platform', 'Nintendo'), (3, 'Mario Kart Wii', 'Wii', 2008, 'Racing', 'Nintendo'), (4, 'Wii Sports Resort', 'Wii', 2009, 'Sports', 'Nintendo'), (5, 'Pokemon Red/Pokemon Blue', 'GB', 1996, 'Role-Playing', 'Nintendo'), (6, 'Tetris', 'GB', 1989, 'Puzzle', 'Nintendo'), (7, 'New Super Mario Bros.', 'DS', 2006, 'Platform', 'Nintendo'), (8, 'Wii Play', 'Wii', 2006, 'Misc', 'Nintendo'), (9, 'New Super Mario Bros. Wii', 'Wii', 2009, 'Platform', 'Nintendo'), (10, 'Duck Hunt', 'NES', 1984, 'Shooter', 'Nintendo')]
Rank    Name                               Platform  Year      Genre          Publisher
1       Wii Sports                         Wii       2006      Sports         Nintendo
2       Super Mario Bros.                  NES       1985      Platform       Nintendo
3       Mario Kart Wii                     Wii       2008      Racing         Nintendo
4       Wii Sports Resort                  Wii       2009      Sports         Nintendo
5       Pokemon Red/Pokemon Blue           GB        1996      Role-Playing   Nintendo
6       Tetris                             GB        1989      Puzzle         Nintendo
7       New Super Mario Bros.              DS        2006      Platform       Nintendo
8       Wii Play                           Wii       2006      Misc           Nintendo
9       New Super Mario Bros. Wii          Wii       2009      Platform       Nintendo
10      Duck Hunt                          NES       1984      Shooter        Nintendo

In [15]:
#If you want to write to excel files, you can, but honestly you'd only do so if you're really into this. We'll do it anyway...
#Introducing new column 'Sum of Sales - Nothing else has changed'
ws['K1'] = 'Sum of Sales' 
#Or
ws.cell(row=1, column=11, value = 'Sum of Sales')

#Remember to save changes made with:
wb.save('videogamesales.xlsx') #Obvs this means you can save to new files or overwrite other files. Danger.
#If there's an error, close excel if you have it open..

In [16]:
row_position = 2
col_position = 7

total_sales = ((ws.cell(row=row_position, column=col_position).value)+
               (ws.cell(row=row_position, column=col_position+1).value)+
               (ws.cell(row=row_position, column=col_position+2).value)+
               (ws.cell(row=row_position, column=col_position+3).value))

ws.cell(row=2,column=11).value=total_sales
wb.save('videogamesales.xlsx')
#See what this does in your excel doc

In [17]:
#Let's do the same for every column
row_position = 1

for i in range(1, ws.max_row):

    row_position += 1
    NA_Sales = ws.cell(row=row_position, column=7).value
    EU_Sales = ws.cell(row=row_position, column=8).value
    JP_Sales = ws.cell(row=row_position, column=9).value
    Other_Sales = ws.cell(row=row_position, column=10).value

    total_sales = (NA_Sales + EU_Sales + JP_Sales + Other_Sales)
    ws.cell(row=row_position, column=11).value = total_sales

wb.save("videogamesales.xlsx")

In [18]:
#We can add rows too:
new_row = (1,'The Legend of Zelda',1986,'Action','Nintendo',3.74,0.93,1.69,0.14,6.51,6.5)

ws.append(new_row)
    
wb.save('videogamesales.xlsx')

In [19]:
#Confirm what we've done :)
values = [ws.cell(row=ws.max_row,column=i).value for i in range(1,ws.max_column+1)]
print(values)

[1, 'The Legend of Zelda', 1986, 'Action', 'Nintendo', 3.74, 0.93, 1.69, 0.14, 6.51, 6.5]

In [20]:
#Let's delete it as well. Yay
ws.delete_rows(ws.max_row, 1) # row number, number of rows to delete

wb.save('videogamesales.xlsx')

In [21]:
#Confirm what we've done :)
values = [ws.cell(row=ws.max_row,column=i).value for i in range(1,ws.max_column+1)]
print(values)

[16600, 'Spirits & Spells', 'GBA', 2003, 'Platform', 'Wanadoo', 0.01, 0, 0, 0, 0.01]

In [23]:
#This seems a bit circular but we can input excel formulae in from our jupyter notebook too
#Let's try average
#New average column and fill:
ws['P1'] = 'Average Sales'
ws['P2'] = '= AVERAGE(K2:K16220)'

wb.save('videogamesales.xlsx')
#This should be around 0.19

In [24]:
#We can do a lot more. Checkout the tutorial. I just want to graph things.

In [25]:
#Adding Charts to an Excel File with Openpyxl